body{
    background-image: url(fon2.jpg);

}
 .slick-wrapper {
     max-width: 1024px;
     margin: 0 auto 60px;
}

 .slick-prev:before, .slick-next:before {
     color: #000;
}
 .slide-image {
     box-sizing: border-box;
     padding: 10px;
}
 h1{
     font-size: 40px;
     text-align: center;
}
 .carousel-2 img {
     width: 180px;
     height: 100px;
}
@media all and (orientation: landscape), (min-width: 768px) {
  .carousel-2 img {
     width: 330px;
     height: 180px;
}
}

